.cart {

}

.emptyCart {
    margin: 10% 0 0 0;
}

.emptyCart p {
    text-align: center;
    font-weight: 600;
    font-size: 130%;
}

.emptyCart a {
    text-decoration: none;
    color: dodgerblue;
}

.emptyCart a:hover {
    color: deepskyblue;
}