.product {
    display: flex;
    flex-direction: column;
    margin: 5% 10% 0 10%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 5% 0;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 5% 0;
}

.imgWrapper {
    margin: 0 0 0 5%;
}

.imgWrapper img {
    max-height: 400px;
}

.imgWrapper p {
    text-align: center;
    font-weight: 500;
    margin: 1% 0;
}

.description {
    margin: 0 0 0 15%;
    font-weight: 600;
    font-size: 130%;
}

.buy {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buy a {
    text-decoration: none;
}

.price {
    font-size: 180%;
    font-weight: 600;
}

.buyBtn {
    padding: 1.5% 5% 1.5% 5%;
    background-color: darkgreen;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 120%;
}

.buyBtn:hover {
    background-color: green;
}